<nav class="navbar">
  <img src="/images/logo.png" alt="logo" width="50" height="50">
  
  <div class="navbar-icons">
    <app-nav-icon [iconType]="NavIconType.DASHBOARD" ></app-nav-icon>
    <app-nav-icon [iconType]="NavIconType.LAMP"></app-nav-icon>
    <hr>
    <app-nav-icon [iconType]="NavIconType.MUSIC"></app-nav-icon>
    <hr>
    <app-nav-icon [iconType]="NavIconType.THERMOMETER"></app-nav-icon>
    <hr>
    <app-nav-icon [iconType]="NavIconType.SHIELD"></app-nav-icon>
    <hr>
    <app-nav-icon [iconType]="NavIconType.BELL"></app-nav-icon>
  </div>
  
  <div>
    <app-nav-icon [iconType]="NavIconType.BOLT"></app-nav-icon>
    <img class="profile-image" src="/images/profile2.png" alt="profile" width="50" height="50" >
  </div>
</nav> 