.main{
    background-color: #fafafa;
    border-radius: 30px;
    display: flex;
    margin-left: 185px;
    margin-right: 185px;
}
.top-content{
    display: flex;
    margin-left: 20px;

}
.bottom-content{
    display: flex;
    margin-left: 20px;
    gap: 20px;

}